.contacts {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: rgb(235, 235, 235);
}

.contacts li {
    width: 390px;
    margin: 10px auto;
}

.span {
    display: inline-block;
    width: 250px;
}
